@import url("https://s3.amazonaws.com/ga-patterns/1.0.10/universal-kit.css");

body {
  padding: 1rem;
}

h3 {
  font-size: 1rem;
  color: #C3C3C3;
}

.app h3:first-of-type {
  font-weight: bold;
  color: #017991;
  font-size: 3rem;
}
